*.suo
*.7z
bin
obj
debug
TestResults
release
*.user
build
*.cache
deploy
*.rar
*.txt
*.pdb
*.pdf
*.tmp
.DS_Store
.tmp*~
*.local.*
.pinf-*
_ReSharper.*
*.resharper
*.ReSharper
~$*
*.stackdump
!/.nuget/NuGet.exe
node_modules
HISTORY.md
README.md
package.json
LICENSE
examples
CONTRIBUTING.md
travis.yml
applicationhost.config
.vs

**/packages/*
!**/packages/repositories.config
!**/packages/build/
!/packages/Blowfish/AHCBlowfish.dll
!/packages/Microsoft.Net.Compilers.1.0.0
!/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0

/KW.Web/Temp
/KW.Web/Temp/Download/TCI/*
/KW.Web/Temp/Upload/EmployeeDoc/*
/KW.Web/Temp/Upload/Payroll/*
/KW.Web/Temp/Upload/Temporary/*
/KW.Web/Temp/Upload/WotcDoc/*

/KW.Web/App_Data/Error.log

/KW.Presentation.WebAPI/Temp
/KW.Presentation.WebAPI/Temp/Download/EmployeeProfile/*