<div class="page-sidebar">
  <ul class="x-navigation">
    <li class="xn-logo">
      <a href="#">PAS</a>
      <a href="#" class="x-navigation-control"></a>
    </li>
    <!-- <li class="">
      <a href="#" onclick="alert('Feature is under development'); return false;"><span class="fa fa-desktop"></span> <span class="xn-text">Main Menu</span></a>
    </li> -->
    <li class="xn-openable">
      <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
      <ul>
        <li><a href="#" onclick="alert('Feature is under development'); return false;">Functional Risk Limit</a></li>
        <li><a href="#" onclick="alert('Feature is under development'); return false;">Calculation</a></li>
        <li><a href="#dashboard/result">Detail Result</a></li>
      </ul>
    </li>
    <li>
      <a href="#scenario"><span class="fa fa-files-o"></span> <span class="xn-text">Scenario</span></a>
    </li>
    <li class="xn-openable">
      <a href="#"><span class="fa fa-database"></span> <span class="xn-text">Master Data</span></a>
      <ul>
        <li><a href="#master/risk">Risk</a></li>
        <li><a href="#master/sektor">Sektor Proyek</a></li>
        <li><a href="#master/project">Project</a></li>
        <li><a href="#master/likelihood">Likelihood</a></li>
        <li><a href="#master/asset_data">Asset Data</a></li>
        <li><a href="#master/tahapan_project">Tahapan Penjamin</a></li>
        <li><a href="#master/stage">Stage Proyek</a></li>
        <li><a href="#master/comment">Comment</a></li>
        <li><a href="#master/correlation_matrix">Correlation Matrix</a></li>
        <li><a href="#master/functional_risk">Functional Risk Matrix</a></li>
      </ul>
    </li>

    <li class="xn-openable">
      <a href="#"><span class="fa fa-columns"></span> <span class="xn-text">Risk Matrix</span></a>
      <ul>
        <li><a href="#risk_matrix">Add Risk Matrix </a></li>
      </ul>
    </li>

    <li class="xn-openable">
      <a href="#"><span class="fa fa-columns"></span> <span class="xn-text">Correlation</span></a>
      <ul>
        <li><a href="#correlation/risk_category">Correlation - Risk Category</a></li>
        <li><a href="#correlation/project">Correlation - Project</a></li>
      </ul>
    </li>
    <li>
      <a href="#overall_comment"><span class="fa fa-files-o"></span> <span class="xn-text">Over All Comment</span></a>
    </li>
  </ul>
</div>
