<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Correlation Risk Category
      <a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
    </p>
  </div>
  <div class="panel-body row">
	<div class="card" obo-table-subrisk>
		<div class="col-md-6" style="margin-bottom: 15px;">
			<table class="table-risk-matrix">
				<tr class="td-risk-matrix">
					<% _.each(CorrelationMatrix, function(item) { %> 
						<td class="td-risk-matrix">
							<%= item.NamaCorrelationMatrix %>
						</td>
					<% }) %>
				</tr>
				<tr class="td-risk-matrix">
					<% _.each(CorrelationMatrix, function(item) { %> 
						<td class="td-risk-matrix text-center">
							<%= item.Nilai %>
						</td>
					<% }) %>
				</tr>
			</table>
		</div>
		<div class="col-md-6" style="margin-bottom: 15px;">
			Sektor: <%= NamaSektor %>
		</div>

		<div class="col-md-12 scrollable-matrix">
			<div class="table-mat">
			    <div class="heading-mat">
			    	<div class="cell-mat">
			            <p>Kode</p>
			        </div>
			        <div class="cell-mat">
			            <p>Nama</p>
			        </div>
			    	<% _.each(RiskRegistrasi, function(item) { %>
			    		<div class="cell-mat" data-heading-risk="<%= item.KodeMRisk %>">
				            <p><%= item.KodeMRisk %></p>
				        </div>
		    		<% }) %>
			    </div>
			    <% _.each(RiskRegistrasi, function(item) { %>
				    <div class="row-mat" data-risk-row="<%= item.KodeMRisk %>">
				        <div class="cell-mat text-center">
				            <p><%= item.KodeMRisk %></p>
				        </div>
				        <div class="cell-mat">
				            <p><%= item.NamaCategoryRisk %></p>
				        </div>
				        <% _.each(RiskRegistrasi, function(model) { %>
					        <div class="cell-mat" data-cell-risk="<%= item.Id %>-<%= model.Id %>" data="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>">
					        	<% if(item.KodeMRisk == model.KodeMRisk) { status = true %>
					        		<select cormat data-correlation-matrix="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>" data-cormat="<%= item.Id %>-<%= model.Id %>" disabled>
				        				<option value="1">1</option>
					        		</select>
					        	<% } else { %> 
					        		<select cormat data-correlation-matrix="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>" data-cormat="<%= item.Id %>-<%= model.Id %>">
					        			<% _.each(CorrelationMatrix, function(corMat) { %> 
					        				<option value="<%= corMat.Id %>"><%= corMat.NamaCorrelationMatrix %></option>
					        			<% }) %>
					        		</select>
					        	<% } %>
					        </div>
		    			<% }) %>
				    </div>
	    		<% }) %>
			</div>
		</div>
	</div>
  </div>
  <div class="modal-footer">
      <!-- <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">CANCEL</button> -->
      <button type="button" class="btn btn-primary btn-s pull-xs-right" btn-save>SAVE</button>
    </div>
</div>