<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="KWConnString" connectionString="Data Source=13.56.92.19;Initial Catalog=Advansys_v1.6.0;Persist Security Info=True;User ID=sa;Password=u5uKK92-k!;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="ApiURL" value="http://dev.onebyonedigital.com"/>
    <add key="AWSBucketName" value="dev.advansysforhomecare.com"/>
    <add key="AWSAccessKey" value="AKIAIQIQ5CKNAQYKTQOQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSRegion" value="us-west-1" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Replace" xdt:Locator="Condition(./_defaultNamespace:assemblyIdentity/@name='System.Web.Cors')">
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
