<ul class="breadcrumb">
    <li>Master</li>
    <li>Komentar</li>
    <li class="active">Info</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Info Komentar
      <a class="btn btn-primary pull-right fa fa-arrow-left" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>"></a>
    </p>
  </div>
  <div class="panel-body row">
		<div class="col-md-6" style="margin-bottom: 15px;">
			<div class="row">
				<div class="col-md-5">Warna</div>
				<div class="col-md-1" style="background-color:<%= Warna %>;  height:15px;"></div>
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom: 15px;">
		    <p class="panel-title">
		      Komentar
		      <button class="btn btn-primary pull-right" name="add">Tambah</button>
		    </p>
		</div>
<div class="card" obo-table-comment></div>
<div class="pull-right" obo-paging-comment></div>
</div>
</div>
